@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$color-primary: #003459;
$color-text-dark: #00171F;
$color-text-light: #667479;
*{
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
/* container */
.container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    @media(max-width:1199.98px){
            width: 960px;
    }
    @media(max-width:991.98px){
            width: 720px;
    }
    @media(max-width:767.98px){
            width: 540px;
    }
    @media(max-width:575.98px){
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
    }
}

/* container */

/* button */
.button{
    background-color: $color-primary;
    padding: 10px 28px;
    border-radius: 57px;
    color: #fdfdfd;
    font-weight: 700;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 11px; 
    border: 1.5px solid $color-primary;
    i {
        font-size: 18px;
    
    }
    &--outline{
        background-color: transparent;
        color: $color-primary;
       
    }
}

/* button */

/* header */
.header{
    padding: 30px 0;
    position: relative;
    z-index: 99999;
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 14px;
            
    }
    &__logo img{
        width: auto;
        height: 40px;
    }
    &__menu {
        flex: 1;
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 0 48px;
        }
        a {
            font-weight: 700;
            font-size: 16px;
            color: $color-primary;
            text-transform: capitalize;
        }
    }
    &__search {
        background-color: #F3F3F3;
        border-radius: 46px;
        padding: 12px 16px;
        width: 280px;
        display: flex;
        align-items: center;
        gap: 12px;
        i {
            font-size: 16px;
            color: $color-text-light;
        }
        input{
            flex: 1;
            background: transparent;
            border: 0;
            outline: none;
            color: $color-text-dark;
            &::placeholder{
                color: #99A2A5;
            }
        }
    }
    &__button-menu, &__button-search {
        display: none;
    }
    @media(max-width:1199.98px){
        .button{
            display: none;
        }
    
    }
    @media(max-width:991.98px){
        &__button-menu , &__button-search{
            display: inline-block;
            border: 0;
            font-size: 18px;
            color: $color-text-dark;
            background: transparent;
            cursor: pointer;
        }
        &__menu{
            display: none;
        }
        &__search{
            display: none;
        }
    }
    @media(max-width:575.98px){
        padding: 12px 0;
        &__logo{
            height: 32px;
        }
    }
}

/* end header */

/* section-1 */
.section-1{
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 0 0 40px 40px ;
    margin-top: -104.5px;
    padding-top: 104.5px;
    /* margin-bottom: 100px; */
    overflow: hidden;
    &__wrap{
        display: flex;
        position: relative;
    }
    &__content{
        flex: 1;
        margin-top: 80px;
        margin-right: 76px;
        position: relative;
        z-index: 1;
    }
    &__title{
        margin-top: 0;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 60px;
        color: var(--color-primary);
    }
    &__sub-title{
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 46px;
        color: var(--color-primary);
    }
    &__desc{
        margin-top: 0;
        margin-bottom: 34px;
        font-weight: 500;
        font-size: 16px;
        color:  #242B33;
    }
    &__buttons{
        display: flex;
        flex-wrap: wrap;
        gap : 18px;
    }
    &__image{
        width: 50%;
        padding-right: 74px;
        position: relative;
    }

    &__image-main{
        width: 100%;
        position: relative;
    }
    &__bg-3{
        width: calc(100% + 200px);
        position: absolute;
        bottom:0;
        left: -80px;
    }
    &__bg-1{
        position: absolute;
        top: 70px;
        left: -10px;
    }
    &__bg-2{
        position: absolute;
        bottom: 0;
        left: -8%;
    }
    &__bg-4{
        position: absolute;
        top :-104.5px;
        left: -132px;
    }
    @media(max-width:1199.98px){
        &__title{
            font-size: 54px;
        }
        &__sub-title{
            font-size: 36px;
        }
        &__bg-2 {
            left: 2%;
            height: 60px;
        }
     }
     @media(max-width:991.98px){
        &__wrap{
            flex-wrap: wrap;
        }
        &__content{
            flex: none;
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
            margin-top: 50px;
        }
        &__image{
            width: 100%;
            padding-right: 0;
     
        }
        &__bg-4 {
            left: 27%;
            height: 100px;
        }
     }
     @media(max-width:767.98px){
        &__bg-4 {
            left: 20%;
           
        }
     }
     @media(max-width:575.98px){
        border-radius: 0 0 20px 20px ;
        .section-1 .inner-content{
            margin-top: 35px; 
        }
        &__title{
            font-size: 46px;
            margin-bottom: 0;
        }
        &__sub-title{
            font-size: 28px;
            margin-bottom: 12px;
        }
        &__desc{
            font-size: 12px;
            margin-bottom: 32px;
        }
        &__buttons {
            gap: 13px;
        }
        &__image-main{
            width: 80%;
            margin: 0 auto;
        }
        &__bg-3{
            left: 18px;
        }
        &__bg-1 {
           display: none;
        }
        &__bg-2 {
            display: none;
        }
        &__bg-4 {
          top: -86px;
          left: 16%;
           
        }
     }

}
/*end section-1 */
/* box-head */
.box-head{
    display: flex;
    margin-bottom: 28px;
    justify-content: space-between;
    align-items: flex-end;
    &__sub-title{
        margin-bottom: 2px;
        font-weight: 500;
        font-size: 16px;
        color: $color-text-dark;
    }
    &__title{
        font-weight: 700;
        font-size: 24px;
        color: $color-primary;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: capitalize;
    }
    &__right a{
        font-weight: 500;
        font-size: 14px;
        color: $color-primary
    }
    @media (max-width: 767.98px){
        &__right{
            display: none;
        }
    }
    @media (max-width: 575.98px){

        margin-bottom: 20px;
        &__right{
            display: none;
        }
        &__sub-title{
            font-size: 14px;
        }
        &__title{
            font-size: 20px;
        }
    }
}




/*end box-head */

/* section-2 */
.section-2{
    padding: 60px 0;
    &__wrap{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }
    &__button-bottom{
        display: none;
    }
    @media (max-width: 991.98px){
        &__wrap{
            grid-template-columns: repeat(3,1fr);
        }
    }
    @media (max-width: 767.98px){
        &__wrap{
            grid-template-columns: repeat(2,1fr);
        }
        &__button-bottom{
            display: block;
            margin-top: 16px; 
            text-align: center;  
        }
    }
    @media (max-width: 575.98px){

        padding: 40px 0;
        &__wrap{
            gap: 12px 12px;
        }
        &__button-bottom .button{
            display: block;
        } 
    }



}
/*end section-2 */

/* product-item */
.product-item{
    background-color: #FDFDFD;
    box-shadow: 0px 4px 28px -2px #00000014;
    border-radius: 12px;
    padding: 8px;
    &__image{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 10px;
        overflow: hidden;
    } 
    &__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__content{
        padding: 16px 8px 12px;
    }
    &__title{
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        a {
            color: $color-text-dark;
        }
    }
    &__desc{
        display: flex;
        align-items: center;
        margin-top: 4px;
        margin-bottom: 4px;
        gap: 5px 10px;
    }
    &__desc-item{
        font-weight: 500;
        font-size: 12px;
        color: $color-text-light;
    }
    &__desc-item b {
        font-weight: 700;
    }
    &__dot{
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $color-text-dark;
    }
    &__price {
        font-weight: 700;
        font-size: 14px;
        color: $color-text-dark;
    }
    @media(max-width:575.98px){
        &__title{
            font-size: 14px;
        }
        &__desc{
            flex-direction: column;
            align-items: flex-start;
        }
        &__dot{
            display: none;
        }
    }
}
/*end product-item */
/* .section-3 */
.section-3 {
    padding-bottom: 60px;
    &__wrap{
        background-image: url("../images/Section-3-bg-1.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding: 36px 72px 0 20px;
    }
    &__image{
        width: 42%;
        img {
            width: 100%;
            height: auto;
        
        }
    }
    &__content{
        width: 42%;
        text-align: right;
        margin-top: 22px;
    }
    &__title{
        font-weight: 700;
        font-size: 52px;
        color: $color-primary;
        margin-top: 0;
        margin-bottom: 8px;
    }
    &__sub-title{
        font-weight: 700;
        font-size: 36px;
        color: $color-primary;
        margin-top: 0;
        margin-bottom: 8px;
    }
    &__desc{
        font-weight: 500;
        font-size: 12px;
        color: $color-text-dark;
        margin-bottom: 8px;
    
    }
    &__buttons{
        display: inline-flex;
        gap: 5px 18px;
    }
    @media(max-width: 1199.98px){
       &__wrap{
            padding-right: 20px;
        }
        &__content{
            margin-top: 0;
        }
        &__title{
            font-size: 42px;
        }
        &__sub-title{
            font-size: 28px;
        }
    }
    @media(max-width: 991.98px){
        &__wrap{
            flex-wrap: wrap;
            background-image: url("../images/section-3-bg-2.svg");
            background-position: center;
        }
        &__image{
            width: 100%;
            order: 1;
        }
        &__content{
            width: 100%;
           
            text-align: center;
        }
    }
    @media(max-width: 575.98px){

        padding-bottom: 40px;

        &__wrap{
            padding-top: 32px;
        }
        &__title{
            font-size: 36px;
            margin-bottom: 0;
        }
        &__sub-title{
            font-size: 24px;
            margin-bottom: 12px;
        }
        &__desc{
            margin-bottom: 32px;
        
        }
        &__buttons{
            gap: 5px 13px;
            .button {
                padding: 10px 20px;
            }
        }
        
        &__image {
            margin-top: 23px;
          }
    }

  }
  /* end section-3 */
/*  section-4 */
.section-4{
    padding: 60px 0;
    &__wrap{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    &__button-bottom{
        display: none;
    }
    @media(max-width:991.98px){
        &__wrap{
            grid-template-columns: repeat(2,1fr);
        }
    
    }
    @media(max-width:767.98px){
        &__wrap{
            grid-template-columns: repeat(1,1fr);
        }
        &__button-bottom{
            display: block;
            margin-top: 16px;
            text-align: center;
        }
        
    }
    @media(max-width:575.98px){

        padding-bottom: 40px;
        &__wrap{
            gap: 12px;
        }
        &__button-bottom .button{
            display: flex;
           justify-content: center;
        }
    }
}


/* end section-4 */

/* blog-item */
.blog-item{
    background-color: #ffffff;
    box-shadow: 0px 4px 28px -2px #00000014;
    border-radius: 12px;
    padding: 8px;
    &__image{
        aspect-ratio: 360/240;
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content{
        margin-top: 8px;
        padding: 8px;
    }
    &__tag{
        display: inline-block;
        background: #00A7E7;
        border-radius: 28px;
        font-size: 11px;
        color: #FDFDFD;
        padding: 3px 10px;
        margin-bottom: 10px;
    }
    &__title{
        margin-top: 0;
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    
    }
    &__title a{
        color: $color-text-dark;
    }
    &__desc{
        font-weight: 400;
        font-size: 14px;
        color: #242B33;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

/*end blog-item */

/* end section-3 */
/* footer */
.footer{
    padding-top: 80px;
    padding-bottom: 40px;
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 40px 40px 0 0;
    &__top{
        border-radius: 16px;
        background-color: $color-primary;
        display: flex;
        padding: 32px;
        gap: 20px;
        align-items: center;
    }
    &__title{
        margin: 0;
        width: 389px;
        font-weight: 700;
        font-size: 20px;
        color: #FDFDFD;
    
    }
    &__form{
        flex: 1;
        display: flex;
        border-radius: 14px;
        padding: 12px;
        gap: 12px;
        background-color: #fff;
        input{
            flex: 1;
            border-radius: 8px;
            padding: 0 28px;
            height: 48px;
            border: 1px solid #99A2A5;
            color: $color-text-dark;
            outline: none;
            &__::placeholder{
                color: $color-text-light;
            }
        }
        button{
            background-color: $color-primary;
            height: 48px;
            border: 0;
            border-radius: 8px;
            padding: 0 28px;
            font-weight: 700;
            font-size: 16px;
            color: #fdfdfd;
        }
    }
    &__middle {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #CCD1D2
    }
    &__links ul {
        display: flex;
        list-style: none;
        gap: 5px 60px;
        margin: 0;
        padding: 0;
        li a {
            font-weight: 500;
            font-size: 16px;
            color: $color-text-dark;
        }
    }
    &__socials ul {
        display: flex;
        list-style: none;
        gap: 5px 40px;
        margin: 0;
        padding: 0;
        li a{
            font-size: 24px;
            color: $color-text-dark;
        }
    }
    &__bottom{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    &__copyright{
        width: 40%;
        font-weight: 500;
        font-size: 14px;
        color: $color-text-dark;
    }
    &__logo{
        width: 20%;
        text-align: center;
        img{
            height: 40px;
            width: auto;
        }
    }
    &__links:last-child{
        width: 40%;
        ul{
            display: flex;
            list-style: none;
            gap: 5px 32px;
            margin: 0;
            padding: 0;
            justify-content: flex-end;
           
        }
        li a {
            font-weight: 500;
            font-size: 14px;
            color: $color-text-dark;
        }
        
    }
    @media(max-width: 991.98px){

        padding-top: 40px;
        &__top{
            flex-wrap: wrap;
        }
        &__middle{
            flex-wrap: wrap;
        }
        &__title{
            width: 100%;
        }
        &__form{
            width: 100%;
        }
       &__links{
            width: 100%;
            margin-bottom: 20px;
            ul{
                justify-content: center;
            }
        }
        &__socials{
            width: 100%;
            ul{
                justify-content: center;
            }
        }
        &__bottom{
            flex-wrap: wrap;
        }
        &__copyright{
            width: 100%;
            order: 2;
            text-align: center;
        }
        &__logo{
            width: 100%;
            margin-bottom: 32px;
            img{
                margin: 0 auto;
            }
        }
        &__links:last-child{
            width: 100%;
            order: 1;
            margin-bottom: 12px;
            ul{
                justify-content: center;
            }
        }
      
    }
    @media(max-width:575.98px){

            border-radius: 20px 20px 0 0;
            padding-bottom: 16px;

          &__top {
            padding: 16px;
            gap: 16px;
          }
        
          &__form {
            flex-wrap: wrap;
            button {
                width: 100%;
              }
            
          }
        
          &__links ul {
            gap: 5px 40px;
            li a {
                font-size: 13px;
              }
          }
          &__socials ul li a {
            font-size: 20px;
          }
        
          &__bottom {
            margin-top: 36px;
          }
        
          &__links:last-child ul {
            gap: 5px 15px;
            li a {
                font-size: 12px;
                color: var(--color-text-light);
              }
          }
          &__copyright {
            font-size: 10px;
          }
    }
}

/*end footer */
/*breadcrumb*/
.box-breadcrumb {
    margin-bottom: 9px;

    &__list {
        display: flex;
        align-items: center;
        gap: 4px 16px;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        display: inline-flex;
        align-items: center;
        gap: 16px;
        i {
            font-size: 10px;
            color: $color-text-light;
        }
        &:last-child i {
            display: none;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 14px;
        color: $color-text-light;
    }
}

/*end breadcrumb*/

// layout-product
.layout-product {
    padding-bottom: 60px;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        width: calc(25% - 20px);
    }
    &__right {
        width: 75%;
    }
    &__head {
        margin-bottom: 14px;
    }
    &__title {
        margin-top: 0;
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 700;
        color: $color-primary;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    &__pagination{
        text-align: center;
        margin-top: 20px;
    }
    &__filter {
        display: none;
    }
    @media(max-width: 991.98px){
        &__left{
            display: none;
        }
        &__right{
            width: 100%;
        }
        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__filter{
            display: inline-flex;
            align-items: center;
            border: 0;
            padding: 0;
            background-color: transparent;
            cursor: pointer;
            font-weight: 700;
            font-size: 16px;
            color: $color-primary;
            gap: 10px;
            img {
                width: 16px;
                height: auto;
                
            }
        }
    
    }
    @media(max-width: 767.98px){
        &__list{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @media(max-width: 767.98px){
        padding-bottom: 40px;
        &__list{
            gap: 12px;
        }
    }
}
// end layout-product
//filter
.filter {
    &__title{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 20px;
        color: $color-primary;
        img {
            height: 20px;
            width: auto;
        }
    }
    &__item {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #EBEEEF;
    }
    &__item-title {
        font-weight: 700;
        font-size: 16px;
        color: $color-text-dark;
        margin-bottom: 10px;
    }
    &__item-box{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__item-choose {
        display: flex;
        align-items: center;
        gap: 10px;
        
        input {
            width: 16px;
            height: 16px;
        }
        label {
            font-size: 14px;
            font-weight: 500;
            color: $color-text-dark;
        }
    }


}
//end filter
// paginaion
.pagination {
    display: inline-flex;
    gap: 12px;
    &__button {
        width: 34px;
        height: 34px;
        border-radius: 8px;
        border: 0;
        outline: none;
        font-weight: 700;
        font-size: 18px;
        color: #002A48;
        background-color: #fff;
        cursor: pointer;
        &--active,&:hover {
            background-color: $color-primary;
            color: #fdfdfd;
        }
        &--disabled {
            background-color: #fdfdfd !important;
            color: #002A48 !important;
            cursor: auto !important;
        }
    }
    
}
//end paginaion
// product-info
.product-info {
    padding: 20px 0;
    &__wrap{
        display: flex;
        border: 1px solid #EBEEEF;
        border-radius: 20px;
        padding: 22px 20px;
    }
    &__left {
        width: 47.5%;
    }
    &__right {
        flex: 1;
        margin-left: 34px;
    }
    &__images-main {
        margin-bottom: 12px;
        img {
            width: 100%;
            aspect-ratio: 560/476;
            object-fit: contain;
            border-radius: 10px;

        }
    }
    &__images-thumb {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 12px;
        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    &__title{
        margin-top: 18px;
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 24px;
        color: $color-text-dark;
    }
    &__price{
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 24px;
        color: $color-text-dark;
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        margin-bottom: 18px;
    }
    &__table {
        margin-bottom: 18px;
        table {
            border-collapse: collapse;
        }
        td {
            padding: 12px;
            font-weight: 500;
            font-size: 14px;
            color: $color-text-light;
            border-bottom: 1px solid #EBEEEF;
            &:first-child {
                width: 34%;
            }
        }
        
    }
    @media(max-width: 991.98px){
        &__wrap {
            flex-wrap: wrap;
            gap: 22px;
        }
        &__left {
            width: 100%;
        }
        &__right {
            margin-left: 0;
            flex: none;
            width: 100%;
        }

    }

    @media(max-width: 576.98px) {
        padding-top: 0;
        padding-bottom: 20px;

        .container {
            padding: 0;
        }
        &__wrap {
            padding: 0;
            border: 0;
        }
        &__images-thumb {
            gap: 8px;
        }
        &__right {
            padding: 32px 16px 0 16px;
            box-shadow: 0px -6px 6px 0px #0000000F;
            border-radius: 20px 20px 0 0;

        }

        
    }
}
// product-info

// box-share
.box-share {
    display: flex;
    align-items: center;
    gap: 21px;
    &__label {
        display: inline-flex;
        gap: 10px;
        color: #002A48;
        font-size: 14px;
        i {
            font-size: 18px;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 18px;
        i {
            font-size: 18px;
            color: $color-text-light;
        }
    }


}

//end box-share


