@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* container */
.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* container */
/* button */
.button {
  background-color: #003459;
  padding: 10px 28px;
  border-radius: 57px;
  color: #fdfdfd;
  font-weight: 700;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 11px;
  border: 1.5px solid #003459;
}
.button i {
  font-size: 18px;
}
.button--outline {
  background-color: transparent;
  color: #003459;
}

/* button */
/* header */
.header {
  padding: 30px 0;
  position: relative;
  z-index: 99999;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.header__logo img {
  width: auto;
  height: 40px;
}
.header__menu {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header__menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0 48px;
}
.header__menu a {
  font-weight: 700;
  font-size: 16px;
  color: #003459;
  text-transform: capitalize;
}
.header__search {
  background-color: #F3F3F3;
  border-radius: 46px;
  padding: 12px 16px;
  width: 280px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__search i {
  font-size: 16px;
  color: #667479;
}
.header__search input {
  flex: 1;
  background: transparent;
  border: 0;
  outline: none;
  color: #00171F;
}
.header__search input::placeholder {
  color: #99A2A5;
}
.header__button-menu, .header__button-search {
  display: none;
}
@media (max-width: 1199.98px) {
  .header .button {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header__button-menu, .header__button-search {
    display: inline-block;
    border: 0;
    font-size: 18px;
    color: #00171F;
    background: transparent;
    cursor: pointer;
  }
  .header__menu {
    display: none;
  }
  .header__search {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .header {
    padding: 12px 0;
  }
  .header__logo {
    height: 32px;
  }
}

/* end header */
/* section-1 */
.section-1 {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 0 0 40px 40px;
  margin-top: -104.5px;
  padding-top: 104.5px;
  /* margin-bottom: 100px; */
  overflow: hidden;
}
.section-1__wrap {
  display: flex;
  position: relative;
}
.section-1__content {
  flex: 1;
  margin-top: 80px;
  margin-right: 76px;
  position: relative;
  z-index: 1;
}
.section-1__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 60px;
  color: var(--color-primary);
}
.section-1__sub-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 46px;
  color: var(--color-primary);
}
.section-1__desc {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 16px;
  color: #242B33;
}
.section-1__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.section-1__image {
  width: 50%;
  padding-right: 74px;
  position: relative;
}
.section-1__image-main {
  width: 100%;
  position: relative;
}
.section-1__bg-3 {
  width: calc(100% + 200px);
  position: absolute;
  bottom: 0;
  left: -80px;
}
.section-1__bg-1 {
  position: absolute;
  top: 70px;
  left: -10px;
}
.section-1__bg-2 {
  position: absolute;
  bottom: 0;
  left: -8%;
}
.section-1__bg-4 {
  position: absolute;
  top: -104.5px;
  left: -132px;
}
@media (max-width: 1199.98px) {
  .section-1__title {
    font-size: 54px;
  }
  .section-1__sub-title {
    font-size: 36px;
  }
  .section-1__bg-2 {
    left: 2%;
    height: 60px;
  }
}
@media (max-width: 991.98px) {
  .section-1__wrap {
    flex-wrap: wrap;
  }
  .section-1__content {
    flex: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
    margin-top: 50px;
  }
  .section-1__image {
    width: 100%;
    padding-right: 0;
  }
  .section-1__bg-4 {
    left: 27%;
    height: 100px;
  }
}
@media (max-width: 767.98px) {
  .section-1__bg-4 {
    left: 20%;
  }
}
@media (max-width: 575.98px) {
  .section-1 {
    border-radius: 0 0 20px 20px;
  }
  .section-1 .section-1 .inner-content {
    margin-top: 35px;
  }
  .section-1__title {
    font-size: 46px;
    margin-bottom: 0;
  }
  .section-1__sub-title {
    font-size: 28px;
    margin-bottom: 12px;
  }
  .section-1__desc {
    font-size: 12px;
    margin-bottom: 32px;
  }
  .section-1__buttons {
    gap: 13px;
  }
  .section-1__image-main {
    width: 80%;
    margin: 0 auto;
  }
  .section-1__bg-3 {
    left: 18px;
  }
  .section-1__bg-1 {
    display: none;
  }
  .section-1__bg-2 {
    display: none;
  }
  .section-1__bg-4 {
    top: -86px;
    left: 16%;
  }
}

/*end section-1 */
/* box-head */
.box-head {
  display: flex;
  margin-bottom: 28px;
  justify-content: space-between;
  align-items: flex-end;
}
.box-head__sub-title {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  color: #00171F;
}
.box-head__title {
  font-weight: 700;
  font-size: 24px;
  color: #003459;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
}
.box-head__right a {
  font-weight: 500;
  font-size: 14px;
  color: #003459;
}
@media (max-width: 767.98px) {
  .box-head__right {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .box-head {
    margin-bottom: 20px;
  }
  .box-head__right {
    display: none;
  }
  .box-head__sub-title {
    font-size: 14px;
  }
  .box-head__title {
    font-size: 20px;
  }
}

/*end box-head */
/* section-2 */
.section-2 {
  padding: 60px 0;
}
.section-2__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.section-2__button-bottom {
  display: none;
}
@media (max-width: 991.98px) {
  .section-2__wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767.98px) {
  .section-2__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-2__button-bottom {
    display: block;
    margin-top: 16px;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .section-2 {
    padding: 40px 0;
  }
  .section-2__wrap {
    gap: 12px 12px;
  }
  .section-2__button-bottom .button {
    display: block;
  }
}

/*end section-2 */
/* product-item */
.product-item {
  background-color: #FDFDFD;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  padding: 8px;
}
.product-item__image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
}
.product-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-item__content {
  padding: 16px 8px 12px;
}
.product-item__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-item__title a {
  color: #00171F;
}
.product-item__desc {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  gap: 5px 10px;
}
.product-item__desc-item {
  font-weight: 500;
  font-size: 12px;
  color: #667479;
}
.product-item__desc-item b {
  font-weight: 700;
}
.product-item__dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #00171F;
}
.product-item__price {
  font-weight: 700;
  font-size: 14px;
  color: #00171F;
}
@media (max-width: 575.98px) {
  .product-item__title {
    font-size: 14px;
  }
  .product-item__desc {
    flex-direction: column;
    align-items: flex-start;
  }
  .product-item__dot {
    display: none;
  }
}

/*end product-item */
/* .section-3 */
.section-3 {
  padding-bottom: 60px;
}
.section-3__wrap {
  background-image: url("../images/Section-3-bg-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 36px 72px 0 20px;
}
.section-3__image {
  width: 42%;
}
.section-3__image img {
  width: 100%;
  height: auto;
}
.section-3__content {
  width: 42%;
  text-align: right;
  margin-top: 22px;
}
.section-3__title {
  font-weight: 700;
  font-size: 52px;
  color: #003459;
  margin-top: 0;
  margin-bottom: 8px;
}
.section-3__sub-title {
  font-weight: 700;
  font-size: 36px;
  color: #003459;
  margin-top: 0;
  margin-bottom: 8px;
}
.section-3__desc {
  font-weight: 500;
  font-size: 12px;
  color: #00171F;
  margin-bottom: 8px;
}
.section-3__buttons {
  display: inline-flex;
  gap: 5px 18px;
}
@media (max-width: 1199.98px) {
  .section-3__wrap {
    padding-right: 20px;
  }
  .section-3__content {
    margin-top: 0;
  }
  .section-3__title {
    font-size: 42px;
  }
  .section-3__sub-title {
    font-size: 28px;
  }
}
@media (max-width: 991.98px) {
  .section-3__wrap {
    flex-wrap: wrap;
    background-image: url("../images/section-3-bg-2.svg");
    background-position: center;
  }
  .section-3__image {
    width: 100%;
    order: 1;
  }
  .section-3__content {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .section-3 {
    padding-bottom: 40px;
  }
  .section-3__wrap {
    padding-top: 32px;
  }
  .section-3__title {
    font-size: 36px;
    margin-bottom: 0;
  }
  .section-3__sub-title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .section-3__desc {
    margin-bottom: 32px;
  }
  .section-3__buttons {
    gap: 5px 13px;
  }
  .section-3__buttons .button {
    padding: 10px 20px;
  }
  .section-3__image {
    margin-top: 23px;
  }
}

/* end section-3 */
/*  section-4 */
.section-4 {
  padding: 60px 0;
}
.section-4__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.section-4__button-bottom {
  display: none;
}
@media (max-width: 991.98px) {
  .section-4__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .section-4__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-4__button-bottom {
    display: block;
    margin-top: 16px;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .section-4 {
    padding-bottom: 40px;
  }
  .section-4__wrap {
    gap: 12px;
  }
  .section-4__button-bottom .button {
    display: flex;
    justify-content: center;
  }
}

/* end section-4 */
/* blog-item */
.blog-item {
  background-color: #ffffff;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  padding: 8px;
}
.blog-item__image {
  aspect-ratio: 360/240;
  border-radius: 10px;
  overflow: hidden;
}
.blog-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-item__content {
  margin-top: 8px;
  padding: 8px;
}
.blog-item__tag {
  display: inline-block;
  background: #00A7E7;
  border-radius: 28px;
  font-size: 11px;
  color: #FDFDFD;
  padding: 3px 10px;
  margin-bottom: 10px;
}
.blog-item__title {
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog-item__title a {
  color: #00171F;
}
.blog-item__desc {
  font-weight: 400;
  font-size: 14px;
  color: #242B33;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/*end blog-item */
/* end section-3 */
/* footer */
.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 40px 40px 0 0;
}
.footer__top {
  border-radius: 16px;
  background-color: #003459;
  display: flex;
  padding: 32px;
  gap: 20px;
  align-items: center;
}
.footer__title {
  margin: 0;
  width: 389px;
  font-weight: 700;
  font-size: 20px;
  color: #FDFDFD;
}
.footer__form {
  flex: 1;
  display: flex;
  border-radius: 14px;
  padding: 12px;
  gap: 12px;
  background-color: #fff;
}
.footer__form input {
  flex: 1;
  border-radius: 8px;
  padding: 0 28px;
  height: 48px;
  border: 1px solid #99A2A5;
  color: #00171F;
  outline: none;
}
.footer__form input__::placeholder {
  color: #667479;
}
.footer__form button {
  background-color: #003459;
  height: 48px;
  border: 0;
  border-radius: 8px;
  padding: 0 28px;
  font-weight: 700;
  font-size: 16px;
  color: #fdfdfd;
}
.footer__middle {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #CCD1D2;
}
.footer__links ul {
  display: flex;
  list-style: none;
  gap: 5px 60px;
  margin: 0;
  padding: 0;
}
.footer__links ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #00171F;
}
.footer__socials ul {
  display: flex;
  list-style: none;
  gap: 5px 40px;
  margin: 0;
  padding: 0;
}
.footer__socials ul li a {
  font-size: 24px;
  color: #00171F;
}
.footer__bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  width: 40%;
  font-weight: 500;
  font-size: 14px;
  color: #00171F;
}
.footer__logo {
  width: 20%;
  text-align: center;
}
.footer__logo img {
  height: 40px;
  width: auto;
}
.footer__links:last-child {
  width: 40%;
}
.footer__links:last-child ul {
  display: flex;
  list-style: none;
  gap: 5px 32px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}
.footer__links:last-child li a {
  font-weight: 500;
  font-size: 14px;
  color: #00171F;
}
@media (max-width: 991.98px) {
  .footer {
    padding-top: 40px;
  }
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__middle {
    flex-wrap: wrap;
  }
  .footer__title {
    width: 100%;
  }
  .footer__form {
    width: 100%;
  }
  .footer__links {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__links ul {
    justify-content: center;
  }
  .footer__socials {
    width: 100%;
  }
  .footer__socials ul {
    justify-content: center;
  }
  .footer__bottom {
    flex-wrap: wrap;
  }
  .footer__copyright {
    width: 100%;
    order: 2;
    text-align: center;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 32px;
  }
  .footer__logo img {
    margin: 0 auto;
  }
  .footer__links:last-child {
    width: 100%;
    order: 1;
    margin-bottom: 12px;
  }
  .footer__links:last-child ul {
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .footer {
    border-radius: 20px 20px 0 0;
    padding-bottom: 16px;
  }
  .footer__top {
    padding: 16px;
    gap: 16px;
  }
  .footer__form {
    flex-wrap: wrap;
  }
  .footer__form button {
    width: 100%;
  }
  .footer__links ul {
    gap: 5px 40px;
  }
  .footer__links ul li a {
    font-size: 13px;
  }
  .footer__socials ul li a {
    font-size: 20px;
  }
  .footer__bottom {
    margin-top: 36px;
  }
  .footer__links:last-child ul {
    gap: 5px 15px;
  }
  .footer__links:last-child ul li a {
    font-size: 12px;
    color: var(--color-text-light);
  }
  .footer__copyright {
    font-size: 10px;
  }
}

/*end footer */
/*breadcrumb*/
.box-breadcrumb {
  margin-bottom: 9px;
}
.box-breadcrumb__list {
  display: flex;
  align-items: center;
  gap: 4px 16px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.box-breadcrumb__item {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.box-breadcrumb__item i {
  font-size: 10px;
  color: #667479;
}
.box-breadcrumb__item:last-child i {
  display: none;
}
.box-breadcrumb__link {
  font-weight: 500;
  font-size: 14px;
  color: #667479;
}

/*end breadcrumb*/
.layout-product {
  padding-bottom: 60px;
}
.layout-product__wrap {
  display: flex;
  justify-content: space-between;
}
.layout-product__left {
  width: calc(25% - 20px);
}
.layout-product__right {
  width: 75%;
}
.layout-product__head {
  margin-bottom: 14px;
}
.layout-product__title {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 700;
  color: #003459;
}
.layout-product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.layout-product__pagination {
  text-align: center;
  margin-top: 20px;
}
.layout-product__filter {
  display: none;
}
@media (max-width: 991.98px) {
  .layout-product__left {
    display: none;
  }
  .layout-product__right {
    width: 100%;
  }
  .layout-product__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .layout-product__filter {
    display: inline-flex;
    align-items: center;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: #003459;
    gap: 10px;
  }
  .layout-product__filter img {
    width: 16px;
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .layout-product__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .layout-product {
    padding-bottom: 40px;
  }
  .layout-product__list {
    gap: 12px;
  }
}

.filter__title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  color: #003459;
}
.filter__title img {
  height: 20px;
  width: auto;
}
.filter__item {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #EBEEEF;
}
.filter__item-title {
  font-weight: 700;
  font-size: 16px;
  color: #00171F;
  margin-bottom: 10px;
}
.filter__item-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.filter__item-choose {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter__item-choose input {
  width: 16px;
  height: 16px;
}
.filter__item-choose label {
  font-size: 14px;
  font-weight: 500;
  color: #00171F;
}

.pagination {
  display: inline-flex;
  gap: 12px;
}
.pagination__button {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: 0;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  color: #002A48;
  background-color: #fff;
  cursor: pointer;
}
.pagination__button--active, .pagination__button:hover {
  background-color: #003459;
  color: #fdfdfd;
}
.pagination__button--disabled {
  background-color: #fdfdfd !important;
  color: #002A48 !important;
  cursor: auto !important;
}

.product-info {
  padding: 20px 0;
}
.product-info__wrap {
  display: flex;
  border: 1px solid #EBEEEF;
  border-radius: 20px;
  padding: 22px 20px;
}
.product-info__left {
  width: 47.5%;
}
.product-info__right {
  flex: 1;
  margin-left: 34px;
}
.product-info__images-main {
  margin-bottom: 12px;
}
.product-info__images-main img {
  width: 100%;
  aspect-ratio: 560/476;
  object-fit: contain;
  border-radius: 10px;
}
.product-info__images-thumb {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}
.product-info__images-thumb img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}
.product-info__title {
  margin-top: 18px;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 24px;
  color: #00171F;
}
.product-info__price {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 24px;
  color: #00171F;
}
.product-info__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-bottom: 18px;
}
.product-info__table {
  margin-bottom: 18px;
}
.product-info__table table {
  border-collapse: collapse;
}
.product-info__table td {
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  color: #667479;
  border-bottom: 1px solid #EBEEEF;
}
.product-info__table td:first-child {
  width: 34%;
}
@media (max-width: 991.98px) {
  .product-info__wrap {
    flex-wrap: wrap;
    gap: 22px;
  }
  .product-info__left {
    width: 100%;
  }
  .product-info__right {
    margin-left: 0;
    flex: none;
    width: 100%;
  }
}
@media (max-width: 576.98px) {
  .product-info {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .product-info .container {
    padding: 0;
  }
  .product-info__wrap {
    padding: 0;
    border: 0;
  }
  .product-info__images-thumb {
    gap: 8px;
  }
  .product-info__right {
    padding: 32px 16px 0 16px;
    box-shadow: 0px -6px 6px 0px rgba(0, 0, 0, 0.0588235294);
    border-radius: 20px 20px 0 0;
  }
}

.box-share {
  display: flex;
  align-items: center;
  gap: 21px;
}
.box-share__label {
  display: inline-flex;
  gap: 10px;
  color: #002A48;
  font-size: 14px;
}
.box-share__label i {
  font-size: 18px;
}
.box-share__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 18px;
}
.box-share__list i {
  font-size: 18px;
  color: #667479;
}

/*# sourceMappingURL=style.css.map */
