mixin box-head(subtitle, title,link)
    .box-head
        .box-head__left
            .box-head__sub-title #{subtitle}
            h3(class="box-head__title") #{title}
        if(link)
            .box-head__right
                a(href=link class="button button--outline") Xem thêm <i class="fa-solid fa-angle-right"></i>